HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**/.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/
dataproxy-api/**/kusciaapi/
dataproxy-api/**/common/
dataproxy-integration-tests/src/test/resources/*.conf

### VS Code ###
.vscode/

tmp/
db/
log/
build/**/settings.xml
docs/_build

.java-version
dataproxy_sdk/MODULE.bazel
dataproxy_sdk/MODULE.bazel.lock

# clangd cache
.cache
external

# cmake related
abseil-cpp
bld
bld.install
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake

# bazel
bazel-*

# bazel module lock
MODULE.bazel.lock
resolved.bzl

#python
*.pyc
*egg-info
build/
dist/
